In [8]:
import requests
import os
import pandas as pd

In [9]:
def pop_2020_ca(year):
    dsource = 'dec'
    dname = 'pl'
    base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}'
    chart = 'P1_001N'
    state = '06'
    api_key = os.environ["CENSUS_API_KEY"]
    data_url = f'{base_url}?get={chart}&for=county:*&in=state:{state}&key={api_key}'
    response=requests.get(data_url)
    json=response.json()
    return json

In [10]:
ca_population = pop_2020_ca(2020)

In [17]:
ca_population_table = pd.DataFrame(ca_population[1:], columns=ca_population[0])
ca_population_table

     P1_001N state county
0       1204    06    003
1      45292    06    009
2      27743    06    015
3      28917    06    021
4      19016    06    027
5     152486    06    031
6   10014009    06    037
7     448229    06    083
8     182155    06    089
9      44076    06    093
10    552878    06    099
11     16112    06    105
12    843843    06    111
13   1682353    06    001
14     40474    06    005
15    211632    06    007
16     21839    06    011
17   1165927    06    013
18    191185    06    017
19   1008654    06    019
20    136463    06    023
21    179702    06    025
22    909235    06    029
23     68163    06    033
24     32730    06    035
25    156255    06    039
26    262321    06    041
27     17131    06    043
28     91601    06    045
29    281202    06    047
30      8700    06    049
31    102241    06    057
32     13195    06    051
33    439035    06    053
34    138019    06    055
35   3186989    06    059
36    404739    06    061
37     19790    06    063
38   2418185    06    065
39   1585055    06    067
40     64209    06    069
41   2181654    06    071
42   3298634    06    073
43    873965    06    075
44    779233    06    077
45    282424    06    079
46    764442    06    081
47   1936259    06    085
48    270861    06    087
49      3236    06    091
50    453491    06    095
51    488863    06    097
52     99633    06    101
53     65829    06    103
54    473117    06    107
55     55620    06    109
56    216403    06    113
57     81575    06    115

In [18]:
ca_population_table.to_csv('ca_population.csv')